
#contacto{
    color: rgb(209, 47, 47);
    text-align: center;
}

#verofertas{
 color: rgb(39, 224, 70);
 text-align: center;
}

#ofertas{
    display: block;
    margin: auto;
    position: absolute;
    left: 550px;
    top:200px;

}
#ofertas2{
    display: block;
    margin: auto;
}

#coming{
    position: relative;
    text-align: center;
    top:20px;
}

#video{
    display: block;
    margin: auto;
}

#nosotros{
    text-align: center;
    color: rgb(94, 22, 228);
}
#foto{
    width: 250px;
}

#novedad{
    text-align: center;
    color: cadetblue;
}
#frase{
    text-align: center;
    position: relative;
    top: 50px;
}

.titulo{
    color: rgb(153, 119, 233);
    text-align: center;
   }

 body{

    background-image: url("/img/background.jpg");
    background-size:contain;
    

   }
.menu{
    text-align: center;
    text-shadow:1px 2px 2px rgb(80, 7, 80);

}

.menu a{
    margin: 70px;
    ;
}

.copyright{
    position: absolute;
    bottom: -0;
    background-color: rgb(159, 21, 177);
    text-align: lef;
    width: 100%;
    height: 80px;
    
    
}

.image{
    margin-left: 130px;
    margin-right: 100px;
    width: 200px;
    height: 500px;
}

.shop{
    width: auto;
    height:40px;
    position: relative;
    top:15px;
    
    

}

.botonComprar{
    width: auto;
    height: 20px;
    position: relative;
    bottom:210px;
    left: 240px;
}

.precio{
    position:relative;
    left: 160px;
    bottom:180px;
}


.container{
    display: flex;
}

.formulario{
    text-align: center;
}

.notificacion{
    position: relative;
    text-align: center;
    top: 250px;
    left: 300px;
    display: flex;
}
.ig{
    width: auto;
    height: 30px;
}
.tw{
    width: auto;
    height: 30px;
}
.fb{
    width: auto;
    height: 30px;
}

.redes{
    
    position: relative;
    text-align: right;
    right:50px;
    bottom: 30px;
}
.redes a{
    margin: 5px;
}

.prox{
   position: relative;
   top: 150px;
   left: 30%;
}
.volver{
    color: rgb(33, 135, 182);
}